// font family
$body_font: 'Calibre', sans-serif;
$heading_font: 'Calibre', sans-serif;
$secondary_font: 'Inter', sans-serif;

// default color
$default_color: #404040;
$default_black: #000;
$default_light: #2B2B2B;

// default transition
$default_transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);