.secondary-hero {
  background: black;
}
.secondary-hero .button {
  margin-top: 70px;
  text-transform: uppercase;
  font-weight: 600;
}
.secondary-hero .button.service-single {
  margin-top: 50px;
}
.secondary-hero .full {
  width: 100%;
  text-align: center;
}
.secondary-hero .service-description {
  margin-top: 80px;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: #989DA4;
}
.page-header.small {
  font-size: 80px;
  line-height: 100%;
}
.descriptors {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-top: 50px;
}
.descriptors-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex: 1;
}
.descriptors-item img {
  flex: 1;
}
.descriptors-item p {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  color: white;
}
.descriptors.single-service {
  margin-top: 80px;
}
.top-benefits {
  display: grid;
  column-gap: 25px;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}
.top-benefits-item h3 {
  color: white;
  font-size: 23px;
  line-height: 120%;
  font-weight: 400;
}
.top-benefits-item h3 b {
  font-size: 26px;
  font-weight: 600;
}
.top-benefits-item-card {
  margin-top: 30px;
  padding: 30px;
  background: #17191C;
  border-radius: 12px;
}
.top-benefits-item-card p {
  margin-top: 20px;
  color: white;
  font-size: 26px;
  line-height: 120%;
}
.top-benefits.single-service {
  margin-top: 0;
}
.top-benefits.single-service .top-benefits-item {
  flex: 1;
}
.top-benefits.single-service .top-benefits-item h3 {
  font-size: 20px;
}
.top-benefits.single-service .top-benefits-item h3 b {
  font-size: 23px;
}
@media (max-width: 1366.98px) {
  .top-benefits-item-card {
    padding: 20px;
  }
  .descriptors-item p {
    font-size: 24px;
  }
}
@media (max-width: 1199.98px) {
  .descriptors-item img {
    width: 84px;
    height: 84px;
  }
  .descriptors-item p {
    font-size: 20px;
  }
  .top-benefits-item h3 {
    font-size: 18px;
  }
  .top-benefits-item h3 b {
    font-size: 18px;
  }
  .top-benefits-item-card {
    margin-top: 10px;
  }
  .top-benefits-item-card p {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .secondary-hero {
    padding-bottom: 30px;
  }
  .secondary-hero .page-header.small {
    font-weight: 700;
    font-size: 45px;
  }
  .secondary-hero .full {
    font-size: 20px;
    line-height: 100%;
    padding: 17px 45px 11px;
    margin-top: 50px;
  }
  .descriptors {
    flex-wrap: wrap;
    gap: 30px;
  }
  .descriptors-item {
    width: 100%;
    align-items: flex-start;
  }
  .descriptors-item img {
    width: 70px;
    height: 70px;
  }
  .descriptors-item p {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 0;
  }
  .top-benefits {
    grid-template-columns: 1fr ;
    margin-top: 30px;
    gap: 25px;
  }
  .top-benefits-item {
    flex: none;
    width: 100%;
  }
  .top-benefits-item p {
    margin-bottom: 0;
  }
  .top-benefits-item h3 {
    font-size: 20px;
    line-height: 120%;
  }
  .top-benefits-item h3 b {
    font-size: 23px;
    line-height: 120%;
  }
  .top-benefits-card {
    margin-top: 0;
  }
  .descriptors-item p {
    margin-bottom: 0;
  }
}
.about-text {
  padding-left: 328px;
  padding-right: 328px;
  background: #F6F7F8;
}
.about-text .section-header b {
  text-indent: 50px;
}
.about-text .par-1 {
  padding-left: 130px;
}
.about-text .par-2 {
  padding-left: 215px;
}
.about-text .button {
  margin-left: 215px;
}
.about-text .additional-info {
  margin-top: 100px;
}
.about-text .additional-info h3 {
  font-size: 40px;
  line-height: 100%;
}
.about-text .additional-info .par-4 {
  padding-left: 240px;
}
@media (max-width: 1600.98px) {
  .about-text {
    padding-left: 268px;
    padding-right: 268px;
  }
}
@media (max-width: 1440.98px) {
  .about-text {
    padding-left: 188px;
    padding-right: 188px;
  }
}
@media (max-width: 1399.98px) {
  .about-text {
    padding-left: 168px;
    padding-right: 168px;
  }
}
@media (max-width: 1280.98px) {
  .about-text {
    padding-left: 118px;
    padding-right: 118px;
  }
}
@media (max-width: 1199.98px) {
  .about-text {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-text .section-header {
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
  }
}
@media (max-width: 575.98px) {
  .about-text {
    padding: 50px 19px 20px;
  }
  .about-text .section-header {
    font-size: 50px;
    line-height: 100%;
  }
  .about-text .section-header b {
    display: inline-block;
    text-indent: 0;
  }
  .about-text .par-1 {
    padding-left: 0;
  }
  .about-text .par-2 {
    padding-left: 14px;
    margin-bottom: 30px;
  }
  .about-text .additional-info {
    margin-top: 50px;
  }
  .about-text .additional-info .par-4 {
    padding-left: 0;
  }
  .about-text .button {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.testemonials {
  background: black;
}
.testemonials .section-header {
  font-size: 40px;
  line-height: 100%;
}
.testemonials .section-header b {
  text-indent: 43px;
}
.testemonials-slider {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
}
.testemonials-slider .slick-slide {
  display: flex;
  width: 100%;
}
.testemonials-slider-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 163px;
}
.testemonials-slider-item .client {
  width: 210px;
}
.testemonials-slider-item .client img {
  max-width: 100px;
  height: auto;
  border-radius: 200px;
}
.testemonials-slider-item .client h3 {
  margin-top: 30px;
  color: white;
  font-size: 26px;
  line-height: 120%;
}
.testemonials-slider-item .client p {
  margin-top: 15px;
  color: white;
  font-weight: 300;
  font-size: 23px;
  line-height: 120%;
}
.testemonials-slider-item .quote {
  color: white;
  text-indent: 200px;
  width: 800px;
}
.testemonials-slider-item .logo {
  margin-top: 40px;
  width: 30%;
}
.testemonials-slider-item .button-wrapper {
  width: 800px;
  display: flex;
  align-items: flex-end;
}
.testemonials-slider .slick-arrow {
  margin-top: 40px;
  top: auto;
  width: 60px;
  height: 30px;
  background: white;
  border-radius: 15px;
  position: relative;
}
.testemonials-slider .slick-arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testemonials-slider .slick-disabled svg path {
  fill: #C2C2C3;
}
.testemonials-slider .slick-prev {
  order: 2;
  margin-right: 10px;
}
.testemonials-slider .slick-next {
  order: 3;
}
@media (max-width: 1440.98px) {
  .testemonials-slider-item .button-wrapper {
    flex-grow: 1;
    width: auto;
  }
}
@media (max-width: 1366.98px) {
  .testemonials-slider-item {
    column-gap: 40px;
    padding-right: 0;
  }
  .testemonials-slider-item .quote {
    flex-grow: 1;
    width: auto;
  }
}
@media (max-width: 1199.98px) {
  .testemonials-slider-item {
    column-gap: 40px;
    padding-right: 0;
  }
  .testemonials-slider-item .quote {
    flex-basis: 600px;
    width: auto;
  }
}
@media (max-width: 575.98px) {
  .testemonials .section-header {
    font-size: 26px;
    line-height: 100%;
  }
  .testemonials .section-header b {
    padding-top: 10px;
    padding-left: 60px;
    display: inline-block;
    font-size: 26px;
    line-height: 100%;
    text-indent: 0;
  }
  .slick-slider .slick-track,
  .slick-slider {
    height: auto;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    height: auto;
  }
  .testemonials-slider-item .quote {
    order: 1;
  }
  .testemonials-slider-item .quote p {
    text-indent: 100px;
    font-size: 20px;
    line-height: 120%;
  }
  .testemonials-slider-item .client {
    margin-top: 50px;
    display: flex;
    order: 2;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .testemonials-slider-item .client .mobile-client-logo {
    height: auto;
    width: 100%;
    flex-grow: 1;
  }
  .testemonials-slider-item .client h3 {
    width: 100%;
    margin-bottom: 0;
  }
  .testemonials-slider-item .client p {
    width: 100%;
  }
  .testemonials-slider-item .logo {
    order: 3;
  }
  .testemonials-slider-item .button-wrapper {
    display: none;
  }
}
.why-service {
  background: #F6F7F8;
}
.why-service .section-header {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}
.why-service .section-header b {
  text-indent: 150px;
}
.why-service p {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}
.why-service-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.why-service-grid-item {
  padding: 55px;
  background: #FFFFFF;
  border-radius: 30px;
}
.why-service-grid-item h3 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
}
.why-service-grid-item p {
  margin-bottom: 0;
  font-size: 23px;
  color: #515151;
}
.why-service-grid-item .grey-link {
  margin-top: 10px;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: #515151;
}
.why-service .full {
  width: 100%;
  text-align: center;
  margin-top: 48px;
}
@media (max-width: 1600.98px) {
  .why-service .section-header {
    font-size: 80px;
    line-height: 100%;
  }
}
@media (max-width: 1199.98px) {
  .why-service-grid-item {
    padding: 40px 20px;
  }
  .why-service-grid-item img {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 575.98px) {
  .why-service {
    padding-bottom: 30px;
  }
  .why-service .section-header {
    font-size: 50px;
    line-height: 100%;
  }
  .why-service .section-header b {
    text-indent: 0;
    display: inline-block;
    font-size: 50px;
    line-height: 100%;
  }
  .why-service p {
    font-size: 20px;
    line-height: 120%;
  }
  .why-service-grid {
    grid-template-columns: 1fr;
  }
  .why-service-grid-item {
    padding: 30px 15px;
  }
  .why-service .full {
    margin-top: 30px;
    font-size: 26px;
    line-height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}
