.blog-single-content {
  max-width: 1074px;
  margin: 0 auto;
}
.blog-single .post-header {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  /* or 80px */
  text-transform: uppercase;
}
.blog-single .post-meta {
  display: flex;
  padding: 5px 0 30px;
}
.blog-single hr {
  height: 2px;
  background: #989DA4;
}
.blog-single .post-author {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.blog-single .post-author .author-thumbnail {
  width: 75px;
  height: 75px;
}
.blog-single .post-author-wrapper .author-name {
  margin: 0;
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
}
.blog-single .post-author-wrapper .post-details {
  margin-right: 20px;
}
.blog-single .post-thumbnail {
  margin-top: 40px;
  width: 1074px;
  height: auto;
  border-radius: 12px;
}
.post-editor h2 {
  margin: 50px 0 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}
.post-editor p {
  margin: 20px 0;
}
.post-editor ul {
  margin: 20px 0;
  margin-inline-start: 20px;
}
.post-editor ul li {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}
.post-editor img {
  display: inline-block;
  margin: 20px auto;
  width: 100%;
  height: auto;
}
@media (max-width: 1199.98px) {
  .blog-single .post-header {
    font-size: 60px;
  }
  .blog-single .post-thumbnail {
    width: 862px;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .blog-single .post-header {
    font-size: 60px;
  }
  .blog-single .post-thumbnail {
    width: 862px;
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .blog-single {
    padding-top: 30px;
  }
  .blog-single .backwards-link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    padding: 9px 20px 5px;
    border-radius: 100px;
    border: 1px solid black;
    color: black;
    margin-bottom: 20px;
  }
  .blog-single .post-header {
    font-size: 40px;
    line-height: 100%;
  }
  .blog-single hr {
    margin: 0;
  }
  .blog-single .post-meta .post-author {
    column-gap: 20px;
  }
  .blog-single .post-meta .post-author .author-thumbnail {
    width: 60px;
    height: 60px;
  }
  .blog-single .post-meta .post-author-wrapper .author-name {
    font-size: 18px;
    line-height: 120%;
  }
  .blog-single .post-meta .post-author-wrapper .post-details {
    font-size: 16px;
    line-height: 120%;
    color: #989DA4;
  }
  .blog-single .post-thumbnail {
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
  .post-editor h2 {
    margin: 30px 0 15px;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
  }
  .post-editor h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    margin: 15px 0 10px;
  }
  .post-editor p {
    margin: 15px 0;
    font-size: 20px;
    line-height: 120%;
  }
  .post-editor ul {
    margin: 20px 0;
    margin-inline-start: 20px;
  }
  .post-editor ul li {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .post-editor img {
    display: inline-block;
    margin: 20px auto;
    width: 100%;
    height: auto;
  }
}
.newsletter-subscription {
  background: black;
}
.newsletter-subscription .bg-text {
  display: inline-block;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -30%);
  width: 2000px;
  position: absolute;
  font-size: 296.99px;
  line-height: 100%;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0.2;
  text-align: center;
}
.newsletter-subscription h2 {
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.newsletter-subscription .newsletter-form {
  position: relative;
  z-index: 5;
}
.newsletter-subscription .newsletter-form form {
  display: flex;
  column-gap: 25px;
}
.newsletter-subscription .newsletter-form form .text-input {
  height: 54px;
  padding: 18px 60px;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  color: #black;
  border-radius: 50px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.newsletter-subscription .newsletter-form form .button {
  border: none;
  outline: none;
}
@media (max-width: 575.98px) {
  .blog-home.related-blog-posts {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .blog-home.related-blog-posts .blog-archvie-grid {
    margin-top: 20px;
  }
  .newsletter-subscription h2 {
    font-size: 50px;
    line-height: 100%;
    text-align: left;
  }
  .newsletter-subscription .newsletter-form form {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .newsletter-subscription .newsletter-form form .text-input {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 100%;
  }
  .newsletter-subscription .newsletter-form form .button {
    width: 100%;
    text-align: center;
  }
}
