.header {
  padding: 0;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}
.header .logo {
  margin-right: auto;
}
.header .navigation {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}
.header .navigation li {
  line-height: 1;
}
.header .navigation li a {
  font-size: 26px;
  font-weight: 500;
  color: black;
}
.header .menu-open {
  margin-left: 25px;
}
.header .button {
  margin-left: 50px;
}
