
.home-hero{
  height: 800px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .content{
    width: 100%;
  }
  .page-header{
    b {
      display: block;
      text-indent: 190px;
    }
  }
  p{
    margin-top: 30px;
    max-width: 740px;
  }

  .bg{
    position: absolute;
    background: red;
    width: 2180px;
    height: 4260px;
    left: -900.62px;
    top: -2702px;
    z-index: -1;
    background: radial-gradient(92% 54.93% at 49.96% 48.97%, #000101 58.33%, #4C1092 72.92%, #F9C8F6 89.06%);
    transform: matrix(-0.71, 0.7, 0.7, 0.71, 0, 0);
  }
  
  .button{
    margin-top: 50px;
  }
  &-extra{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 100px;
    padding: 60px 110px;
    span{
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
    }
    .copyright{
      margin-left: auto;
    }
  }
}

.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .ball-image{
    position: absolute;
    top: 50%;
    left: 195px;
    width: 415px;
    height: 415px;
    transform: translateY(-50%);
  }
  .content{
    width: 990px;
    h2{
      font-weight: 700;
      font-size: 80px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000000;
      b {
        display: block;
        text-indent: 190px;
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
      }
    }
    p{
      padding-left: 190px;
      margin: 20px 0;
    }
    .button{
      margin-top: 30px;
      margin-left: 190px;
      margin-bottom: 80px;
    }
  }
  .extra{
    position: absolute;
    background: black;
    width: 100%;
    height: 100px;
    padding: 20px 110px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    img{
      
      max-width: 180px;
      height: auto;
      max-height: 60px;
      
    }
  }
}

.services-home{
  background: black;
  &-item{
    padding: 100px 0;

    border-bottom: 0.5px solid #989DA4;
    
    p{
      font-size: 25px;
      line-height: 30px;
      max-width: 960px;
      margin-top: 30px;
    }
    
  }
  .services-home-item.first{
    padding-top: 0;
  }
  .services-home-item:last-child{
    padding-bottom: 0;
    border: none;
  }
  .pills-wrapper{
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    margin-top: 30px;
    margin-bottom: 100px;
    .pill{
      padding: 12px 30px 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      /* or 24px */
      border: 1px solid #FFFFFF;
      border-radius: 50px;
      text-align: center;

      color: #FFFFFF;
    }
  }
}

.cta{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end ;
  .content{
    width:  990px;
    .section-header{
      b{
        text-indent: 140px;
      }
    }
    p{
      padding-left: 140px;
      margin: 20px 0;
    }
    .button{
      margin-top: 30px;
      margin-left: 140px;
    }
  }
  .advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 190px;
    &-item{
    h3{
     img{
      margin-right: 10px;
     }
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: white;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      padding: 0; 
      margin-top: 12px;
      color: #FFFFFF;
    }
    }
  }
}

.home-cta{
  background: black;
}


.portfolio-home{
  display: flex;
  align-items: center;
  border: 1px solid #BAC3C9;
  p{
    margin-top: 30px;
    flex-basis: 420px;
    font-weight: 400;
  }
  &-wrapper{
    flex-grow: 1;
    .section-header{
      margin-top: 32px;
    }
    .links-wrapper{
      margin-top: 40px;
      display: flex;
      width: 470px;
      gap: 45px;
      align-items: center;
      a{
        line-height: 1;
      }
    }
  }
}

.portfolio-button{
  width: 111px;
  height: 111px;
  display: flex;
  align-items: center;
  position: absolute;
  right:110px;
  top: 70px;
  background: black;
  text-align: center;
  border-radius: 60px;
  font-size: 26px;
  line-height: 100%;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  span{
    padding-top: 8px;
  }
}


.portfolio-item{
  height: 530px;
  padding: 0 inherit;
  display: flex;
  align-items: center;
  .content{
    .section-header{
      max-width: 700px;
    }
    .pills-wrapper{
      display: flex;    
      flex-wrap: wrap;
      gap:15px;
    }
    p{
      max-width: 420px;
      margin-top: 30px;
    } 
  }
  .thumbnail{
    position: absolute;
    bottom: 0;
    right: 155px;
    height: 95%;
    width: auto;
  }
  &.atlant{
    background: radial-gradient(95.46% 881.88% at 14.66% 49.91%, #3E3536 0%, #3E3536 0.01%, #6F6E6C 39.06%, #6F6E6C 64.06%, #3E3536 100%);
  }
  &.juegos{
    background: radial-gradient(100% 923.79% at 0% 49.91%, #1A0F0D 0%, #CE2B08 70.83%, #FFC83B 100%);
  }
  &.ed-agency{
    background: radial-gradient(100% 923.79% at 0% 49.91%, #1F213D 0%, #947CAD 70.83%, #526395 100%);
  }
  &.tose{
    background: radial-gradient(100% 923.79% at 0% 49.91%, #FF0000 0%, #B00807 100%);
  }
  &.aesop{
    background: radial-gradient(100% 923.79% at 0% 49.91%, #706255 0%, #C9BEB5 100%);
  }
}


.blog-home{
  padding-bottom: 64px;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .pill{
      transform: translateY(-36px);
    }
  }
  .section-header {
    margin: 0;
    line-height: 1;
    b{
      text-indent: 90px;
    }
  }
  
  &-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    &-item{
      height: auto;
      border: 1px solid #BAC3C9;
      border-radius: 12px;
      overflow: hidden;
      .pill{
        font-size: 15px;
        line-height: 1;
        color: #515151;
        border: 1px solid #515151;
        padding: 6px 20px 4px;
      }
      span{
        font-size: 15px;
        line-height: 18px;
        margin: 0 auto;
        color: #989DA4;
      }
      .post-meta{
        display: flex;
        justify-content: space-evenly;
        padding: 30px 25px;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
      }
      h3{
        width: 100%;
        margin-top: 30px;
        font-weight: 500;
        font-size: 35px;
        line-height: 100%;
        /* or 35px */


        color: #000000;
      }
    }
  }
}
.promo{
  // overflow: visible;
  padding: 86px 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
  .bg{
    position: absolute;
    width: 1620px;
    height: 1329px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%) rotate(180deg);
    z-index: -1;

    background: radial-gradient(118.98% 71.21% at 50.09% 100%, #000101 64.06%, #4C1092 73.44%, rgba(249, 200, 246, 0.56) 90.62%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
   
  }
}



