.services-hero{
  padding-top: 150px;
  padding-bottom: 150px;
  background: linear-gradient(68.84deg, #000000 40.46%, #0B3CFF 109.15%);
  border-radius: 30px;
  p{
    max-width: 740px;
  }
}



@media (max-width: 1366.98px) { 
  .services-hero{
    padding-top: 120px;
    padding-bottom: 120px;
    .page-header{
      font-size: 80px;
      b{
        font-size: 80px;
      }
    }
  }
}

@media (max-width: 1199.98px) { 
  .services-hero{
    .section-header{
      .page-header{
        font-size: 60px;
        b{
          font-size: 60px;
        }
      }
    }
  }
}

@media (max-width: 991.98px) { 
  .services-hero{
    padding: 75px 50px;
    .page-header{
      font-size: 50px;
      b{
        font-size: 50px;
      }
    }
    p{
      max-width: 450px;
    }
  }
}


@media (max-width: 575.98px) { 
  .services-hero{
    padding: 100px 19px;
    .page-header{
      font-size: 50px;
      b{
        font-size: 50px;
      }
    }
    
    p{
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
    }
  }
  .top-benefits.single-service{
    grid-template-columns: 1fr;
  }
  
}





.services-archive{
  background: #F6F7F8;
  &-item{
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #BAC3C9;
    display: flex;
    flex-wrap: wrap;
    .details,.sample-projects{
      width: 50%;
    }
    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
      border: none;
    }
    .pills-wrapper{
      max-width: 620px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 15px;
      .pill{
        background: transparent;
        border: 1px solid black;
        color: black;
      }
    }
  }
}

@media (max-width: 1440.98px) { 
 .services-archive{
    &-item{
      .section-header{
        font-size: 80px;
      }
      .pills-wrapper{
        max-width: 550px;
      }  
    }
  } 
}

@media (max-width: 1366.98px) { 
  .services-archive{
    &-item{
      padding-top: 75px;
      padding-bottom: 75px;
    }
  } 
}

@media (max-width: 1199.98px) { 
  .services-archive{
    &-item{
      .section-header{
        font-size: 60px;
      }
    }
  }
}


@media (max-width: 575.98px) { 
  .services-archive{
    padding: 40px 19px 30px;
    &-item{
      flex-wrap: wrap;
      row-gap: 30px;
      padding-top: 50px;
      padding-bottom: 50px;
      .section-header{
        font-size: 50px;
        line-height: 100%;
      }
      .details{
        width: 100%;
        .button{
          position:static;
        }
        .pills-wrapper{
          .pill{
            padding: 10px 20px 6px;
            font-size: 16px;
            line-height: 120%;
          }
        }
        .desktop{
          display: none;
        }
      }
      .button{
        width: 100%;
        text-align: center;
      }
    }
  }
}

.details{
  position: relative;
  .button{
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.sample-projects{
  &-slider{
    max-width: 526px;
    margin: 0 auto;
    .slick-arrow{
      z-index: 5;
      top: 170px;
    }
    .slick-prev{
      left: 0;
      transform: translate(-150%,-50%);
    }
    .slick-next{
      right: 0;
      transform: translate(150%,-50%);
    }
    &-item{
      img{
        width: 526px;
        height: 327px;
        margin-bottom: 25px;
      }
      h3{
        font-weight: 700;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
      }
      p{
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #515151;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1366.98px) { 
 .sample-projects{
   &-slider{
     .slick-prev{
       transform: translate(-50%,-50%);
     }
     .slick-next{
       transform: translate(50%,-50%);
     }
   }
  } 
}

@media (max-width: 1199.98px) { 
  .sample-projects{
    &-slider{
      max-width: 400px;
      .slick-prev{
        top: 125px;
        transform: translate(-50%,-50%);
      }
      .slick-next{
        top: 125px;
        transform: translate(50%,-50%);
      }
      &-item{
        img{
          border-radius: 10px;
          width: 400px;
          height: 249px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .services-archive{
    &-item{
      .sample-projects{
        width: 100%;
        &-slider{
          img{
            width: 100%;
            height: 100%;
          }
          .slick-arrow{
            width: 30px;
            height: 30px;
            top: 100px;
          }
        }
      }
    }
  }
}





.industries{
  background: #F6F7F8;
  padding-left: 273px;
  padding-right: 273px;
  display: flex;
  flex-wrap: wrap;

  .section-header{
    width: 100%;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */
    text-transform: uppercase;
  }
  .par-1{
    max-width: 800px;
    justify-self: flex-start;
    margin-bottom: 30px;
  }
  .par-2{
    max-width: 800px;
    justify-self: flex-end;
    margin-left: auto;
  }
  &-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;
    margin-top: 50px;
    &-item{
      max-width: 460px;
      flex: 460px;
      display: flex;
      column-gap: 17px;
      
      span{
        font-size: 26px;
        line-height: 120%;
        font-weight: 500;
      }
      img{
        height: 24px;
        width: auto;
      }
      svg{
        width: 20px;
        height: auto;
      }
     .content{
        h3{
          font-size: 26px;
          line-height: 120%;
        }
        p{
          font-size: 23px;
          line-height: 120%;
          //padding-left: 33px;
        }
     }
    }
  }
}

@media (max-width: 1600.98px) { 
  .industries{
    .section-header{
      font-size: 70px
    }
    
  }
}

@media (max-width: 1440.98px) { 
  .industries{
    padding-left: 139px;
    padding-right: 139px;
  } 
}

@media (max-width: 1199.98px) { 
  .industries{
    padding-left: 50px;
    padding-right: 50px;
    &-wrapper{
      &-item{
        flex: 400px;
        max-width: 400px;
      }
    }
  } 
}

@media (max-width: 575.98px) { 
  .industries{
    padding-left: 19px;
    padding-right: 19px;
    .section-header{
      font-weight: 700;
      font-size: 50px;
      line-height: 100%;
    }
    &-wrapper{
      row-gap: 30px;
    }
  }
}




.portfolio-home{
  &.no-sec{
    border: none;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: flex-end;
    p{
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1600.98px) { 
  .portfolio-home{
    .section-header{
      font-size: 80px;
      line-height: 100%;
    }
  }
}
@media (max-width: 1199.98px) { 
  .portfolio-home{
    flex-wrap: wrap;
    gap: 0;
    padding-left: 25px;
    padding-right: 25px;
    &-wrapper{
      width: 65%;
      flex-grow: unset;
      .section-header{
        font-size: 60px;
      }
    }
    
    p{
      width: 35%;
      font-size: 20px;
      flex-basis: auto;
    }
  }
}


@media (max-width: 575.98px) { 
  .portfolio-home{
    padding-left: 19px;
    padding-right: 19px;
    .portfolio-home-wrapper{
      width: 100%;
    }
    .section-header{
      margin-top: 0;
      font-weight: 700;
      font-size: 50px;
    }
    
  }
  .portfolio-home.no-sec{
    p{
      width: 100%;
      margin: 0;
    }
  }
}


.portfolio-secondary{
  max-width: 1620px;
  margin: 0 auto 50px;
  &-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
  }
  &-item{
    img{
      aspect-ratio: 16/9;
      width: 100%;
      border-radius: 30px;
    }
    h3{
      margin-top: 30px;
      text-transform: uppercase;
    }
    p{
      max-width: 530px;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: #515151
    }
  }
}


@media (max-width: 1600.98px) { 
  .portfolio-secondary{
    max-width: 1500px;
  }
}

@media (max-width: 1440.98px) { 
  .portfolio-secondary{
    max-width: 1340px;
  }
}

@media (max-width: 1366.98px) { 
  .portfolio-secondary{
    max-width: 1280px;
  }
}

@media (max-width: 1300.98px) { 
  .portfolio-secondary{
    max-width: 1200px;
  }
}

@media (max-width: 1199.98px) { 
  .portfolio-secondary{
    max-width: 964px;
  }
}

@media (max-width: 991.98px) { 
 .portfolio-secondary{
  max-width: 720px;
  &-wrapper{
    grid-template-columns: 1fr;
  }
 } 
}

@media (max-width: 575.98px) { 
  .portfolio-secondary{
    max-width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    &-wrapper{
      grid-template-columns: 1fr;
      row-gap: 50px;
      .portfolio-secondary-item{
        img{
          border-radius: 15px;
        }
        
        h3{
          font-weight: 700;
          font-size: 26px;
          line-height: 100%;
        }
        p{
          margin: 0;
        }
      }
    }
  }
}




.services-cta{
  background: #0B3CFF;
  margin: 50px auto;
  .section-header{
    
    b:nth-of-type(2) {
      text-indent: 270px;
    }
  }
  .cta-shpere{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .content{
    position:relative;
    z-index: 5;
    p{
      margin-left: 130px;
    }
    .button{
      margin-left: 270px;
    }
  }
}

@media (max-width: 575.98px) { 
  .services-cta{
    .cta-shpere{
      top: 0;
      right: 0;
      left: auto;
      width: 340px;
      height: 340px;
      transform: translate(25%,-30%) rotate(-180deg);
    }
    margin-left: 12px;
    margin-right: 12px;
    .content{
      .section-header{
        max-width: 260px;
      }
      p{
        margin-left: 0;
      }
      .button{
        margin-left: 0;
      }
    }
  }
  
}



.steps{
  background: #F6F7F8;
  p{
    max-width: 830px;
    margin-top: 20px;
  }
  .nav-pills{
    margin-top: 50px;
    .nav-item{
      margin-right: 15px;
      .nav-link{
        padding: 18px 60px;
        background: transparent;
        font-weight: 500;
        font-size: 26px;
        line-height: 100%;
        color: #939393;
        border-radius: 50px;
        border: 1px solid #939393;
        height: 54px;
      }
      .active.nav-link{
        background: black;
        color: white;
        border-color: black;
      }
    }
  }
  .tab-content{
    background: #FFFFFF;
    border-radius: 30px;
    margin-top: 30px;
    padding: 50px 60px 50px;
  }
  &-table{
    
    &-row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .stage{
        width: 260px;
        display: flex;
        column-gap: 15px;
        span,h4{
          font-weight: 500;
          font-size: 26px;
          line-height: 31px;    
          color: #000000;
        }
      }
      .works{
        width: 360px;
        p{
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: #404040;
        }
      }
      .results{
        width: 360px;
        p{
          font-weight: 400;
          font-size: 22px;
          line-height: 26px;

          color: #404040;
        }
      }
      &.head{
        h3{
          font-weight: 500;
          font-size: 25px;
          line-height: 30px;
          color: #989DA4;
        }
      }
    }
  }
}

@media (max-width: 1366.98px) { 
  .steps{
    .nav-pills{
      .nav-item{
        .nav-link{
          padding: 16px 30px;
        }
      }
    }
  }
}
@media (max-width: 1280.98px) { 
  .steps{
    .nav-pills{
      margin-top: 30px;
      .nav-item{
        .nav-link{
          padding: 16px 30px;
        }
      }
    }
  }
}
////
@media (max-width: 1199.98px) { 
  .steps{
    .section-header{
      font-size: 60px;
      line-height: 100%;
    }
    .nav-pills{
      margin-top: 30px;
      .nav-item{
        .nav-link{
          font-size: 20px;
          padding: 16px 30px;
          height: 48px;
        }
      }
    }
    .tab-content{
      padding: 30px 30px;
    }
    .steps-table-row{
      margin-bottom: 40px;
    }
    .steps-table-row .stage{
      width: 25%;
      h4{
        font-size: 22px;
      }
    }
    .steps-table-row .works{
      width: 40%;
      p{
        margin: 0;
        font-size: 20px;
      }
    }
    .steps-table-row .results{
      width: 25%;
      p{
        margin: 0;
        font-size: 20px;
      }
    }
  }
}
/////
@media (max-width: 991.98px) { 
  
}
@media (max-width: 767.98px) { 

}
/////
@media (max-width: 575.98px) { 
  .steps{
    padding-bottom: 30px;
    .section-header{
      font-size: 50px;
      line-height: 100%;
    }
    p{
      font-size: 20px;
      line-height: 120%;
    }
    .nav-pills{
      display: block;
      margin-top: 30px;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      max-width: 1600px;
      padding-bottom: 20px;
      .nav-item{
        display: inline-block;
        white-space: normal;
        .nav-link{
          font-size: 18px;
          line-height: 100%;
          padding: 10px 20px;
          height: 38px;
          white-space: normal;
        }
      }
    }
    .tab-content{
      padding: 30px 15px;
    }
    .steps-table-row  {
      &:last-child{
        margin-bottom: 0;
      }
    }
    .steps-table-row.head  {
      width: 100%;
      display: none;
    }
    .steps-table-row .stage{
      width: 100%;
      h4{
        font-size: 26px;
        line-height: 31px;
      }
      span{
        font-size: 26px;
        line-height: 31px;
      }
    }
    .steps-table-row .works{
      width: 100%;
      p{
        font-size: 20px;
        line-height: 120%;
        font-weight: 400;
        color: #515151;
      }
    }
    .steps-table-row .results{
      display: none;
    }
  }
}

.services-faq{
  color: white;
  background: black;
  padding-left: 275px;
  padding-right: 275px;
  .section-header{
    font-size: 80px;
    line-height: 100%;
  }
  &-text-editor{
    margin-top: 50px;
    h3{
      margin: 50px 0 20px;
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      text-transform: capitalize;   
      color: #FFFFFF;
    }
    p{
      margin: 0;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      color: #BAC3C9;
    }
    p+p{
      margin-top: 30px;
    }
  }
  &-cta{
    margin-top: 50px;
    padding: 50px;
    border-radius: 30px;
    border: 0.5px solid rgba(227, 229, 232, 0.5);
    backdrop-filter: blur(50px);
    h3{
      font-weight: 600;
      font-size: 40px;
      line-height: 100%;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    p{
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      color: #FFFFFF;
    }
    
  }
}

@media (max-width: 1600.98px) { 
  .services-faq{
    padding-left: 215px;
    padding-right: 215px;
  }
}
////
@media (max-width: 1440.98px) { 
  .services-faq{
    padding-left: 150px;
    padding-right: 150px;
  }
}
////
@media (max-width: 1399.98px) { 

}
////
@media (max-width: 1366.98px) { 
  .services-faq{
    padding-left: 65px;
    padding-right: 65px;
  }
}
////
@media (max-width: 1199.98px) { 
  .services-faq{
    padding-left: 50px;
    padding-right: 50px;
    .section-header{
      font-size: 60px;
      line-height: 100%;
    }
  }
}
/////
@media (max-width: 991.98px) { 
  
}
@media (max-width: 767.98px) { 

}
/////
@media (max-width: 575.98px) { 
  .services-faq{
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 30px;
    .section-header{
      font-size: 50px;
    }
    &-text-editor{
      h3{
         margin: 30px 0 15px;
        font-size: 26px;
        line-height: 100%;
      }
      p{
        font-size: 20px;
        line-height: 120%;
      }
    }
    &-cta{
      margin-top: 30px;
      padding: 30px 15px;
      h3{
        font-size: 26px;
        line-height: 100%;
      }
      P{
        font-size: 20px;
        line-height: 120%;
      }
    }
  }
}
