/* 3.7 - About - start
================================================== */
.about_content {
	p {
		margin-bottom: 45px;
		padding-right: 90px;
	}
}

.about_title {
	font-size: 50px;
	font-weight: 400;
	line-height: 1.02;
	margin-bottom: 30px;
}

.text-break {
	display: block;
}
/* 3.7 - About - end
================================================== */