/* 3.17 - Error - start
================================================== */
.error_section {
	.loadmore_btn_wrap {
		margin-top: 60px;
	}

	h2 {
		line-height: 1;
		font-size: 288px;
		margin-bottom: -30px;
	}
	h3 {
		line-height: 1;
		font-size: 33px;
		margin-bottom: 25px;
	}
	p {
		font-size: 20px;
		line-height: 1.28;
		margin-bottom: 0px;
	}
}
.thank_you_section{
	.loadmore_btn_wrap {
		margin-top: 60px;
	}

	h2 {
		line-height: 1;
		font-size: 110px;
		
	}
	h3 {
		line-height: 1;
		font-size: 33px;
		margin-bottom: 25px;
	}
	p {
		font-size: 24px;
		line-height: 1.28;
		margin-bottom: 0px;
	}
}

/* 3.17 - Error - end
================================================== */