/* 3.1 - Header - start
================================================== */
/* header section - start */
.header_section {
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
	position: absolute;

	.header_container {
		display: flex;
		align-items: center;
		padding: 38px 100px;

		@include widther(992px) {
			justify-content: center;
		}


		@include media-query(991px) {
			justify-content: space-between!important;
		}

	}
	&.sticky {
		position: fixed;
		background-color: #fff;
		box-shadow: 0 8px 15px #0000000f;
		animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
		.header_container {
			padding: 38px 100px;
		}
	}

	& + main {
		margin-top: 100px;
	}
}
/* header section - end */

/* header style 2 - start */
.header_section {

	-webkit-transition: all 0.5s;
	transition: all 0.5s;

	&.style_2 {
		.header_contact_info {
			margin-left: 60px;
			padding-left: 40px;
			border-left: 1px solid #6D6D6D;
		}
	}
}

.header_section.style_2 {

	@include widther(992px) {
		.header_container {
			padding: 60px 100px;
		}

		.main_menu_list {
			>li {
				>a {
					font-weight: 500;
					font-size: 16px;
				}
			}
		}

		.header_contact_info {
			position: static;
		}
	}

	.header_contact_info a {
		color: #404040;
	}

	.header_contact_info {
		font-size: 13px;
	}
}

.header_section.style_2 + main {
	margin-top: 120px;
}


/* header style 2 - end */

/* header style 3 - start */
.header_section {
	&.style_3 {
		.header_container {
			padding: 28px 70px;
		}
	}
}

.header_section.style_3 {
	border-bottom: 1px solid #dcdcdc;

	@include media-query(991px) {
		justify-content: space-between;
	}

	@include widther(992px) {
		.header_container {
			padding: 36px 0 !important;
		}

		.header_contact_btn {
			position: absolute;
			left: 70px;
		}

		.brand_logo {
			position: static;
		}

		.header_info_wrap {
			right: 70px;
		}
	}

	.moreinfo_sidebar_btn .fal {
		font-size: 21px;
		font-weight: 100;
	}
}

/* header style 3 - end */

/* brand logo - start */
.brand_logo {

	@include widther(992px) {
		position: absolute;
		left: 100px;
	}

	.brand_link {
		display: inline-block;
	}
}
/* brand logo - end */

/* header contact btn - start */
.header_contact_btn {
	.btn {
		font-size: 20px;
		padding: 16px 31px;
		padding-bottom: 10px;
		border-radius: 5px;
		letter-spacing: 0px;
		background-color: #333636;
		font-family: 'Calibre';
		&:before {
			border-radius: 5px;
		}
		&:hover {
			color: #333636;
		}
	}
}
/* header contact btn - end */

/* main menu - start */
.main_menu {
	padding: 0px;
}
.main_menu_list {
	>li {
		&:not(:last-child) {
			margin-right: 60px;
		}

		>a {
			display: block;
			font-weight: 500;
			font-size: 17px;
			line-height: 1.2;
			color: #6f6f6f;
			padding: 10px 0px 5px 0px;
			font-family: 'Calibre';
			transition: $default_transition;
		}
		&:hover,
		&.active {
			>a {
				color: #000;
			}
		}
	}

	.submenu {
		top: 100%;
		margin: 0px;
		border: none;
		color: #8A8A8A;
		font-size: 18px;
		min-width: 210px;
		padding: 15px 0px;
		border-radius: 0px;
		font-family: 'Calibre';
		box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.15);
		>li {
			>a {
				font-size: 16px;
				display: block;
				line-height: 1;
				color: #000;
				padding: 15px 30px 10px 30px;
				transition: $default_transition;
			}
			&:hover,
			&.active {
				> a {
					color: $default_black;
					background-color: rgba(23, 23, 26, 0.04);
					padding-left: 35px;
				}
			}
		}
		.dropdown {
			>a {
				position: relative;
				&:after {
					float: right;
					font-size: 12px;
					margin-top: 2px;
					content: '\f061';
					font-weight: 400;
					display: inline-block;
					font-family: 'Font Awesome 5 Pro';
				}
			}
		}
		.submenu {
			top: -15px;
			left: 100%;
			border-top-left-radius: 0px;
		}
	}
	li {
		&:hover {
			>.submenu {
				display: block;
				animation: 0.3s ease-in-out 0s normal none 1 running fadeInUp;
			}
		}
	}
}
/* main menu - end */

/* sidebar main menu - start */
.sidebar_main_menu {
	margin: 0px -40px;
	>li {
		>a {
			display: block;
			color: #ffffff;
			font-size: 19px;
			padding: 20px 40px;
			padding-bottom: 10px;
			&:after {
				font-size: 14px;
				transform: translateY(1px);
			}
		}
		&:hover,
		&.active {
			>a {
				background-color: rgba(255, 255, 255, 0.06);
			}
		}
	}

	.accordion-body {
		padding: 0px;
	}

	.item_has_child {
		>a {
			position: relative;
			&:after {
				top: 18px;
				right: 35px;
				font-weight: 900;
				content: '\f107';
				position: absolute;
				font-family: "Font Awesome 5 Pro";
			}
		}
	}

	.submenu {
		margin: 0px;
		border: none;
		padding: 10px 0px;
		border-radius: 0px;
		transform: unset !important;
		position: static !important;
		background-color: rgba(255, 255, 255, 0.06);
		>li {
			>a {
				display: block;
				font-size: 19px;
				padding: 14px 40px;
				padding-left: 50px;
				padding-bottom: 8px;
				color: rgba(255, 255, 255, 0.8);
			}
			&:hover {
				>a {
					color: #ffffff;
					background-color: #0D1313;
				}
			}
		}
	}
}
/* sidebar main menu - end */

/* header contact info - start */
.header_contact_info {
	line-height: 1;
	font-size: 15px;
	line-height: 1.2;
	padding-top: 3px;
	position: absolute;
	right: 100px;

	@include media-query(1300px) {
		display: none;
	}
	
	li {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	a {
		position: relative;
		color: $default_color;
		letter-spacing: 2px;
		font-weight: 500;
		&:before {
			width: 0;
			left: 0;
			right: auto;
			bottom: 0;
			height: 1px;
			content: '';
			position: absolute;
			background-color: #ffffff;
			transition: $default_transition;
		}
		&:hover {
			color: #000;
			&:before {
				left: auto;
				width: 100%;
				right: 0;
			}
		}
	}
}

.header_info_wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@include widther(992px) {
		position: absolute;
		right: 100px;
	}
}
/* header contact info - end */

/* more info sidebar - start */
.moreinfo_sidebar_btn {
	z-index: 1;
	width: 45px;
	height: 45px;
	color: #000;
	font-size: 28px;
	margin-left: 50px;
	position: relative;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	&:before,
	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: -1;
		position: absolute;
		border-radius: 100%;
		border: 1px solid #000;
		transition: $default_transition;
	}
	&:after {
		opacity: 0;
		transform: scale(1.5);
	}
	&:hover,
	&.active {
		&:before {
			opacity: 0;
			transform: scale(.4);
		}
		&:after {
			opacity: 1;
			transform: scale(1);
		}
	}

	.fal {
		font-weight: 400;
	}
}

.sidebar-menu-wrapper {
	display: block;

	.close_btn {
		top: 20px;
		right: 30px;
		line-height: 1;
		color: #ffffff;
		font-size: 30px;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		i {
			transition: $default_transition;
		}
		&:hover {
			i {
				transform: rotate(360deg);
			}
		}
	}

	.overlay {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 0;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		display: none;
		position: fixed;
		background: rgba(0, 0, 0, 0.8);
		animation: 0.5s ease-in-out 0s normal none 1 running fadeIn;
		&.active {
			opacity: 1;
			display: block;
		}
	}
}

.info_sidebar {
	top: 0px;
	width: 400px;
	right: -420px;
	height: 100vh;
	z-index: 9999;
	position: fixed;
	overflow-y: scroll;
	padding: 100px 60px;
	background-color: $default_black;
	transition: 0.6s cubic-bezier(1, 0, 0, 1);
	&.active {
		right: 0px;
	}
	.mCustomScrollBox {overflow: visible!important;}

	.title_text {
		font-size: 36px;
		font-weight: 400;
		color: #fff;

		line-height: 1em;
		margin-bottom: 25px;
	}

	p {
		font-size: 20px;
		margin-bottom: 1.3em;
		color: #808080;
	}

	.btn_text {
		font-size: 18px;
	}

	.social_primary li a {
		font-size: 14px;
	}

	.social_primary li:not(:last-child) {
	    margin-right: 45px;
	}

	.social_wrap {
		margin-top: 60px;

		h4 {
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 15px;
			text-transform: uppercase;
			letter-spacing: 4px;
			color: #cacaca;
		}
	}
}

.header_section.sticky {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.info_sidebar::-webkit-scrollbar {width: 0px;}
/* more info sidebar - end */

/* 3.1 - Header - end
================================================== */