// @font-face {
//   font-family: 'montserrat_extrabold';
//   src: url('../fonts/montserrat/MontserratAlternates-ExtraBold.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_bold';
//   src: url('../fonts/montserrat/MontserratAlternates-Bold.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Bold.woff') format('woff');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_black';
//   src: url('../fonts/montserrat/MontserratAlternates-Black.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_extralight';
//   src: url('../fonts/montserrat/MontserratAlternates-ExtraLight.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-ExtraLight.woff') format('woff');
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_semibold';
//   src: url('../fonts/montserrat/MontserratAlternates-SemiBold.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-SemiBold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_medium';
//   src: url('../fonts/montserrat/MontserratAlternates-Medium.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_thin';
//   src: url('../fonts/montserrat/MontserratAlternates-Thin.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_light';
//   src: url('../fonts/montserrat/MontserratAlternates-Light.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'montserrat_regular';
//   src: url('../fonts/montserrat/MontserratAlternates-Regular.woff2') format('woff2'),
//     url('../fonts/montserrat/MontserratAlternates-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }


// @mixin thin() {
//   font-family: 'montserrat_thin';
// }

// @mixin extralight() {
//   font-family: 'montserrat_extralight';
// }

// @mixin light() {
//   font-family: 'montserrat_light';
// }

// @mixin reg() {
//   font-family: 'montserrat_regular';
// }

// @mixin med() {
//   font-family: 'montserrat_medium';
// }

// @mixin semibold() {
//   font-family: 'montserrat_semibold';
// }

// @mixin bold() {
//   font-family: 'montserrat_bold';
// }



$main-green: #5EC8B5;
$sec-green: #11967f;
$dark-green: #0e2924;
$main-dark: #242424;

$light-grey: #c4c4c4;

$main-white: #fff;
/// Normalize 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}



//Custom Scrollbar

::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  // background: #5EC8B5;
  background:black;
}

.modal-open {
  overflow: hidden;
  position: fixed;
}

//Custom buttons

.main-btn {
  display: inline-block;
  width: 280px;
  min-width: 210px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Calibre';
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border: 1px solid $sec-green;
  background-color: $sec-green;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.secondary-btn {
  border-color: black;
  background-color: transparent;
  color: black;

  &:hover {
    color: black;
  }
}

.tetriary-btn {
  background-color: $dark-green;
  border-color: $dark-green;
  color: white;
}

.main-link {
  color: black;
  font-family: 'Calibre';
  font-size: 18px;

  &:hover {
    color: $dark-green;
  }
}


/// Body classes to control global page settings

section {
  padding: 0 10px;
}

@media (min-width: 768px) {
  section {
    padding: 0 20px;
  }
}

@media (min-width: 991px) {
  section {
    padding-right: 85px;
    padding-left: 85px;
  }
}

.main-body {
  background: white;
}

.main-header {

  z-index: 5;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  .header-desc {
    display: none;
    width: 180px;
    margin-right: auto;
    margin-left: 30px;
    font-size: 16px;
    color: black;
    &:hover{
      color: black;
    }
  }

  .header-contacts {
    display: none;
    width: 230px;
    margin-right: 16px;
    text-align: right;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: black;
    &:hover {
      color: black;
    }
    a{
      color: black;
    }
  }

  .menu-icon {
    width: auto;
    margin-left: 10px;
    cursor: pointer;

    .wrapper {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;

      svg {
        rect {
          fill: black;
        }
      }
    }
  }

  .btn {
    padding: 0;
  }
}

.header-logo {
  height: 40px;
  width: auto;
  color: black;

  span {
    font-size: 24px;
    font-family: 'montserrat_regular';
    margin-bottom: 30px;
  }
  &:hover{
    color:black;
  }
}

@media (min-width: 576px) {
  .main-header {
    padding: 10px 60px;
    .header-contacts {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-header {
    padding: 10px 60px;
    .header-logo {
      height: 50px;
    }

    .header-desc {
      display: block;
    }

    .menu-icon {
      .wrapper {
        height: 50px;
        width: 50px;

      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: transparent;

    .header-contacts {
      margin-right: 15px;
    }
  }
}
@media (min-width: 1200px) {
  .main-header {
    padding-left: 100px;
    padding-right: 100px;
  }
}


.open-btn {
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}



.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 150;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.525);
    height: 100vh;
    width: 0;
    position: fixed;
  }

  .main-popup {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    background: white;
    line-height: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    transform: translateX(-100%);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .popup-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: end;
    -webkit-justify-content: end;
    justify-content: flex-end;
    text-align: right;

    .close-btn {
      border: 1px solid black;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
      transition: .5s ease all;

      span {
        font-size: 50px;
        font-weight: 50;
        
        transform: translateY(75%);
        color: black;
      }
    }
  }

  .popup-content {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-top: 25px;
    .menu-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      span {
        width: 30%;
        margin-bottom: 36px;
        padding-right: 20px;
        color: black;
        font-size: 16px;
        line-height: 1.2;
        // @include light();
        letter-spacing: 5px;
        font-family: "Calibre",sans-serif;
        font-weight: 300;
      }

      ul {
        width: 70%;
        margin-bottom: 36px;
        list-style: none;
        // border-left: 1px solid $main-green;
        border-left: 1px solid $dark-green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
          margin-bottom: 15px;
          margin-top: 0px;
          a {
            text-decoration: none;
            color: black;
            line-height: 1;
            color: #000;
            font-size: 40px;
            font-weight: 500;
            padding: 10px 5px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
            -webkit-text-fill-color: #000;
          }
        }
      }
      

      .social-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items:center;
        li {
          margin-right: 20px;
          margin-bottom: 0;

          a {
            font-size: 20px;
            i {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .popup {
    .main-popup {
      .popup-content {
        .menu-wrapper {
          span {
            font-size: 20px;
          }

          ul {
            width: 80%;
            li {
              a {
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .popup {
    .popup-header {
      .close-btn {
        width: 50px;
        height: 50px;
      }
    }
    .main-popup {
      
      .popup-content { 
        .menu-wrapper {
          span {
            font-size: 20px;
          }

          ul {
            li {
              a {
                font-size: 60px;
              }
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .popup {
    .popup-overlay {
      width: 100%;
    }

    .main-popup {
      width: 50%;
      flex-direction: row;
      .popup-header {
        padding-top: 25px
      }

      .popup-content {
        .menu-wrapper {
          span {
            font-size: 20px;
          }

          ul {
            width: 60%;
            li {
              a {
                line-height: 1;
                color: #000;
                font-size: 40px;
                font-weight: 500;
                padding: 10px 5px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #000;
                -webkit-text-fill-color: #000;
                &:hover{
                  -webkit-text-fill-color: transparent;
                }
              }
            }
          }
          .social-nav{
            .li{
              
              a{
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.social-links {
  display: none;
}

@media (min-width: 1200px) {
  .social-links {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85px;
    height: 150px;
    transform: translateY(-50%);

    a {
      font-size: 20px;
      color: black;
      cursor: pointer;

      &:hover i {
        color: $main-green;
      }
    }
  }
}
