/* 3.13 - Portfolio - start
================================================== */

/* portfolio section - start */
.portfolio_section {
	.section_title {
		margin-bottom: 45px;

		p {
			font-size: 20px;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
}
/* portfolio section - end */

/* portfolio full image layout - start */
.portfolio_fullimage_layout {
	display: block;
	overflow: hidden;
	position: relative;
	margin-bottom: 24px;

	img {
		width: 100%;
		display: block;
		transition: $default_transition;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}

	.item_content {
		left: 55px;
		bottom: 55px;
		z-index: 2;
		opacity: 0;
		filter: blur(50px);
		position: absolute;
		display: inline-block;
		background-color: #ffffff;
		padding: 25px 35px 22px 35px;
		transition: $default_transition;
	}
	&:hover {
		.item_content {
			opacity: 1;
			filter: blur(0);
		}
	}

	.item_title {
		color: #000000;
		display: block;
		line-height: 1;
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 7px;
	}
	
	.item_categories {
		display: block;
		line-height: 1;
		color: #626161;
		font-size: 14px;
	}
}
/* portfolio full image layout - end */

/* portfolio filter - start */
.filter_nav_wrap {
	display: flex;
	margin-bottom: 45px;
	.filter_nav_title {
		line-height: 1;
		font-size: 20px;
		margin-bottom: 0px;
		margin-right: 40px;
	}

	.button-group {
		line-height: 1;
		font-size: 20px;
		li {
			position: relative;
			&:not(:last-child) {
				margin-right: 17px;
				padding-right: 17px;
			}
			&:after {
				top: 50%;
				right: 0px;
				content: '/';
				position: absolute;
				transform: translateY(-50%);
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
		button {
			color: $default_color;
			&.active,
			&:hover {
				color: #000;
			}
			sup {
				top: -10px;
				font-size: 14px;
				margin-left: 5px;
			}
		}
	}
}

.element_grid {
	margin: -12px;
	.element-item {
		width: 50%;
		padding: 12px;
		&.w_100 {
			width: 100%;
		}
	}
	.portfolio_fullimage_layout {
		margin: 0px;
	}
}
/* portfolio filter - end */

/* portfolio split layout - start */
.portfolio_split_layout {
	margin-bottom: 110px;

	.item_image {
		display: block;
		overflow: hidden;
		position: relative;
		background-color: #000000;
		img {
			transition: $default_transition;
		}
		&:hover {
			img {
				opacity: .6;
			}
		}
	}
	&:hover {
		.item_image {
			img {
				transform: scale(1.08);
			}
		}
	}

	&:nth-child(odd) {
		.item_image {
			margin-right: 30px;
		}
	}
	&:nth-child(even) {
		.item_image {
			margin-left: 30px;
		}
	}

	.item_category {
		color: #ffffff;
		font-size: 14px;
		margin-bottom: 30px;

		li {
			position: relative;
			&:not(:last-child) {
				margin-right: 5px;
				padding-right: 3px;
			}
			&:after {
				right: 0px;
				bottom: 0px;
				content: ',';
				position: absolute;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
		a {
			color: #000;
			&:before {
				width: 0px;
				left: auto;
				right: 0px;
				bottom: 0px;
				height: 1px;
				content: '';
				position: absolute;
				background-color: #000;
				transition: $default_transition;
			}
			&:hover {
				&:before {
					left: 0px;
					width: 100%;
					right: auto;
				}
			}
		}
	}

	.item_title {
		font-size: 90px;
		line-height: .97;
		margin-bottom: 55px;
	}
}
/* portfolio split layout - end */

/* portfolio tab - start */
.portfolio_tab_nav {
	li {
		&:not(:last-child) {
			margin-bottom: 22px;
		}
	}
	button {
		line-height: 1;
		color: #5C5C5C;
		font-size: 55px;
		font-weight: 500;
		&:hover,
		&.active {
			color: #000;
		}
	}
}
/* portfolio tab - end */

/* portfolio list - start */
.fullscreen_portfolio {
	display: flex;
	min-height: 100vh;
	padding: 200px 0px 120px;
	position: relative;
	align-items: center;
	.social_primary {
		top: 50%;
		right: 70px;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		li {
			width: 100%;
			display: block;
			&:not(:last-child) {
				margin-right: 0px;
				margin-bottom: 44px;
			}
		}
	}

	.allworks_btn {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		position: absolute;
		padding: 40px 70px;
		padding-right: 63px;
		align-items: center;
		justify-content: space-between;
		.btn_text {
			font-size: 18px;
		}
		.livechat_wrapper {
			position: static;
		}
	}
}

.layer {
	position: relative !important;
}

.portfolio_list {
	.portfolio_list_item {
		position: relative;
		display: inline-block;
		.item_title {
			a {
				line-height: 1;
				color: #000;
				font-size: 115px;
				font-weight: 500;
				padding: 20px 20px;
				margin-bottom: -30px;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #000;
				-webkit-text-fill-color: #000;
			}
			sup {
				top: -45px;
				color: #000;
				font-size: 18px;
				font-weight: 200;
			}
		}

		.image_wrap {
			top: 0;
			left: 100%;
			opacity: 0;
			z-index: 1;
			width: 400px;
			margin-left: 30px;
			position: absolute;
			visibility: hidden;
		}

		&:hover {
			.item_title {
				a {
					-webkit-text-fill-color: transparent;
				}
			}

			.image_wrap {
				opacity: 1;
				visibility: visible;
				transition: $default_transition;
			}
		}
	}


	li {
		&:nth-child(4) {
			.portfolio_list_item {
				.image_wrap {
					bottom: 0;
					top: unset;
				}
			}
		}
		&:nth-child(5) {
			.portfolio_list_item {
				.image_wrap {
					bottom: 0;
					top: unset;
				}
			}
		}
	}
}
/* portfolio list - end */

/* 3.13 - Portfolio - end
================================================== */