/* 3.4 - Sidebar - start
================================================== */
.sidebar_section {
	padding-left: 70px;
}

.sb_widget {
	&:not(:last-child) {
		margin-bottom: 80px;
	}
}

.sb_widget_title {
	line-height: 1;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px;
}

.sb_search {
	input {
		padding-left: 57px;
		&:-moz-placeholder {
			text-transform: uppercase;
		}
		&::-moz-placeholder {
			text-transform: uppercase;
		}
		&:-ms-input-placeholder {
			text-transform: uppercase;
		}
		&::-webkit-input-placeholder {
			text-transform: uppercase;
		}
	}
	label {
		top: 50%;
		left: 30px;
		margin: 0px;
		line-height: 1;
		color: #C6C6C6;
		font-size: 17px;
		position: absolute;
		transform: translateY(-50%);
	}
}

.sb_category {
	li {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	a {
		font-size: 19px;
		color: $default_color;
		&:hover {
			color: #ffffff;
		}
	}
}

.sb_about {
	p {
		font-size: 20px;
	}
}
/* 3.4 - Sidebar - end
================================================== */