/* 3.5 - Slider - start
================================================== */
.slider_section {
	position: relative;
	// padding-left: 300px;
	padding-left: 100px;
	padding-right: 100px;

	.social_primary {
		top: 50%;
		right: 43px;
		width: auto;
		display: block;
		position: absolute;
		transform: translateY(-50%);
		li {
			float: none;
			display: block;
			&:not(:last-child) {
				margin-right: 0px;
				margin-bottom: 33px;
			}
		}
	}
}

.main_slider {
	.slider_item {
		min-height: 840px;
		background-size: cover;
		background-repeat: no-repeat;
		// background-position: left 125px center;
		background-position: left 0px center ;
		padding-left: 125px;
	}
	.slider_content {
		max-width: 560px;
	}
	h3 {
		line-height: 1;
		font-size: 150px;
		margin-bottom: 0px;
	}

	p {
		color: $default_color;
		font-size: 30px;
		margin-bottom: 40px;
		color: black;
	}

	.btn {
		font-size: 18px;
		letter-spacing: 1px;
		padding: 26px 58px;
		padding-bottom: 20px;
	}

	.slick-dots {
		top: 50%;
		// left: -199px;
		left: 50px;
		z-index: 1;
		width: auto;
		height: 396px;
		position: absolute;
		background-color: #d4d4d4;
		transform: translateY(-50%);
		li {
			width: 2px;
			margin: 0px;
			display: block;
			height: 33.333%;
			&:hover,
			&.slick-active {
				button {
					opacity: 1;
				}
			}
		}
		button {
			opacity: 0;
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 0px;
			background-color: #000;
			transition: $default_transition;
		}
	}
}


/* 3.5 - Slider - start
================================================== */