/* 2.6 - Template Button Style - start
================================================== */
.loadmore_btn_wrap {
	margin-top: 80px;
}

.btn {
	z-index: 1;
	border: none;
	outline: none;
	color: #ffffff;
	font-size: 20px;
	line-height: 1.09;
	position: relative;
	padding: 26px 40px;
	padding-bottom: 20px;
	border-radius: 0px;
	letter-spacing: 2px;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	font-weight: 400;
	transition: $default_transition;
	&:before {
		top: 0px;
		left: auto;
		right: 0px;
		bottom: 0px;
		width: 0px;
		content: '';
		z-index: -1;
		position: absolute;
		background-color: #ffffff;
		transition: $default_transition;
	}
	&:focus {
		outline: none;
		box-shadow: none;
	}
	&:hover {
		color: #ffffff;
		&:before {
			left: 0px;
			width: 100%;
			right: auto;
		}
	}
	i {
		margin-top: -4px;
		margin-right: 12px;
	}
}

.btn {
	&.btn_light {
		background-color: $default_light;
		&:hover {
			color: #000000;
		}
	}
	&.btn_white {
		font-weight: 600;
		color: #fff;
		background-color: #343434;
		&:before {
			background-color: #000;
		}
		&:hover {
			color: #ffffff;
		}
	}
}

.btn {
	&.btn_border {
		font-size: 15px;
		font-weight: 600;
		color: #ffffff;
		padding: 25px 40px;
		padding-bottom: 19px;
		border: 1px solid transparent;

		@include media-query(991px) {
			font-size: 14px;
			padding: 20px 30px 15px;
		}

		@include media-query(767px) {
			font-size: 13px;
			padding: 18px 25px 13px;
		}
	}

	&.btn_border:hover {
		border-color: white;
	}

	&.border_light {
		color: #000;
		border-color: #000;
		&:before {
			background-color: #000;
		}
		&:hover {
			color: #fff;
		}
	}
	&.border_dark {
		color: #000;
		border-color: #fff;
		background-color:#fff;
		&:before {
			background-color: #000;
		}
		&:hover {
			color: #fff;
		}
	}
}

.btn_text {
	color: #404040;
	line-height: 1;
	font-size: 22px;
	font-weight: 500;
	display: inline-block;
	span {
		position: relative;
		display: inline-block;
		&:before {
			width: 0px;
			left: auto;
			right: 0px;
			bottom: 0px;
			height: 1px;
			content: '';
			position: absolute;
			background-color: #ffffff;
			transition: $default_transition;
		}
	}

	i {
		margin-left: 5px;
		transform: translateY(3px);
		transition: $default_transition;
	}
	svg {
		margin-left: 5px;
	}

	svg path {
		fill: #404040;
	}

	&:hover {
		color: #000;
		span {
			&:before {
				left: 0px;
				width: 100%;
				right: auto;
			}
		}
		i {
			transform: translate(5px, 3px);
		}
	}
}
.btn_text_white{
	svg path{
		fill:white;
	}
}
.btn-small{
	font-size: 14px;
}
/* 2.6 - Template Button Style - end
================================================== */