/* 2.19 - LiveChat - start
================================================== */
.livechat_wrapper {
	right: 30px;
	bottom: 40px;
	z-index: 999;
	position: fixed;
}
.livechat_btn {
	position: relative;
	>span {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		align-items: center;
		display: inline-flex;
		justify-content: center;
		background-color: black;
		
	}
	>small {
		top: 50%;
		opacity: 0;
		right: 100%;
		padding: 12px;
		padding-bottom: 6px;
		color: #ffffff;
		display: block;
		line-height: 1;
		min-width: 100px;
		position: absolute;
		border-radius: 6px;
		visibility: hidden;
		background-color: #252525;
		transform: translateY(-50%);
		transition: $default_transition;
	}
	&:hover {
		>small {
			opacity: 1;
			visibility: visible;
			transform: translate(-5px, -50%);
		}
	}
}
/* 2.19 - LiveChat - end
================================================== */