/* 2.15 - Tags - start
================================================== */
.tags_primary {
  margin: -7px;
  li {
    padding: 7px;
    position: relative;
    &:after {
      right: 3px;
      bottom: 0px;
      content: ',';
      position: absolute;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    display: block;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    color: $default_color;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
/* 2.15 - Tags - end
================================================== */