/* 2.9 - Title Style - start
================================================== */
.section_title {
	.small_title {
		line-height: 1;
		font-size: 20px;
		font-weight: 400;
		align-items: center;
		margin-bottom: 45px;
		display: inline-flex;
	}
	.line {
		width: 63px;
		height: 1px;
		margin-left: 12px;
		background-color: #000;
		transform: translateY(-2px);
	}
	.big_title {
		font-size: 88px;
		line-height: .84;
		margin-bottom: 40px;
		.text_effect_wrap1 {
			margin: -10px 0px;
		}
	}

	&.style_2 {
		.small_title {
			line-height: 1;
			font-size: 23px;
			font-weight: 300;
			margin-bottom: 45px;
			letter-spacing: 10px;
		}
		.big_title {
			font-size: 100px;
			//font-weight: 500;
			margin-bottom: 20px;
		}
	}
}

.biggest_title {
	font-size: 125px;
	line-height: 1.37;
	padding: 28px 0px;
	padding-bottom: 9px;
	margin-bottom: 0px;
	border-top: 1px solid #313636;
	border-bottom: 1px solid #313636;
}
/* 2.9 - Title Style - end
================================================== */